<a href="https://colab.research.google.com/github/ajiglover/DS-Projects/blob/main/Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Generate series of time

A series of time can be generated using ‘date_range’ command. In below code, ‘periods’ is the total number of
samples; whereas freq = ‘M’ represents that series must be generated based on ‘Month’.
• By default, pandas consider ‘M’ as end of the month. Use ‘MS’ for start of the month. Similarly, other
options are also available for day (‘D’), business days (‘B’) and hours (‘H’) etc.

In [29]:
import pandas as pd
import numpy as np

In [2]:
rng = pd.date_range('2011-03-01 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2011-03-31 10:15:00', '2011-04-30 10:15:00',
               '2011-05-31 10:15:00', '2011-06-30 10:15:00',
               '2011-07-31 10:15:00', '2011-08-31 10:15:00',
               '2011-09-30 10:15:00', '2011-10-31 10:15:00',
               '2011-11-30 10:15:00', '2011-12-31 10:15:00'],
              dtype='datetime64[ns]', freq='M')

In [3]:
rng = pd.date_range('2015 Jul 2 10:15', periods = 10, freq = 'M')
rng

DatetimeIndex(['2015-07-31 10:15:00', '2015-08-31 10:15:00',
               '2015-09-30 10:15:00', '2015-10-31 10:15:00',
               '2015-11-30 10:15:00', '2015-12-31 10:15:00',
               '2016-01-31 10:15:00', '2016-02-29 10:15:00',
               '2016-03-31 10:15:00', '2016-04-30 10:15:00'],
              dtype='datetime64[ns]', freq='M')

 Similarly, we can generate the time series using ‘start’ and ‘end’ parameters as below,

In [4]:
 rng = pd.date_range(start = '2015 Jul 2 10:15', end = '2015 July 12', freq = '12H')
 rng

DatetimeIndex(['2015-07-02 10:15:00', '2015-07-02 22:15:00',
               '2015-07-03 10:15:00', '2015-07-03 22:15:00',
               '2015-07-04 10:15:00', '2015-07-04 22:15:00',
               '2015-07-05 10:15:00', '2015-07-05 22:15:00',
               '2015-07-06 10:15:00', '2015-07-06 22:15:00',
               '2015-07-07 10:15:00', '2015-07-07 22:15:00',
               '2015-07-08 10:15:00', '2015-07-08 22:15:00',
               '2015-07-09 10:15:00', '2015-07-09 22:15:00',
               '2015-07-10 10:15:00', '2015-07-10 22:15:00',
               '2015-07-11 10:15:00', '2015-07-11 22:15:00'],
              dtype='datetime64[ns]', freq='12H')

Time zone can be specified for generating the series

In [5]:
rng = pd.date_range(start = '2015 Jul 2 10:15', end = '2015 July 12', freq = '12H', tz='Asia/Kolkata')
rng

DatetimeIndex(['2015-07-02 10:15:00+05:30', '2015-07-02 22:15:00+05:30',
               '2015-07-03 10:15:00+05:30', '2015-07-03 22:15:00+05:30',
               '2015-07-04 10:15:00+05:30', '2015-07-04 22:15:00+05:30',
               '2015-07-05 10:15:00+05:30', '2015-07-05 22:15:00+05:30',
               '2015-07-06 10:15:00+05:30', '2015-07-06 22:15:00+05:30',
               '2015-07-07 10:15:00+05:30', '2015-07-07 22:15:00+05:30',
               '2015-07-08 10:15:00+05:30', '2015-07-08 22:15:00+05:30',
               '2015-07-09 10:15:00+05:30', '2015-07-09 22:15:00+05:30',
               '2015-07-10 10:15:00+05:30', '2015-07-10 22:15:00+05:30',
               '2015-07-11 10:15:00+05:30', '2015-07-11 22:15:00+05:30'],
              dtype='datetime64[ns, Asia/Kolkata]', freq='12H')

Further, we can change the time zone of the data for various comparison

In [8]:
import pandas as pd

# Assuming rng is your DatetimeIndex with timezone information
rng = pd.DatetimeIndex(['2015-07-02 14:45:00+10:00', '2015-07-03 02:45:00+10:00',
                        '2015-07-03 14:45:00+10:00', '2015-07-04 02:45:00+10:00',
                        '2015-07-04 14:45:00+10:00', '2015-07-05 02:45:00+10:00',
                        '2015-07-05 14:45:00+10:00', '2015-07-06 02:45:00+10:00',
                        '2015-07-06 14:45:00+10:00', '2015-07-07 02:45:00+10:00',
                        '2015-07-07 14:45:00+10:00', '2015-07-08 02:45:00+10:00',
                        '2015-07-08 14:45:00+10:00', '2015-07-09 02:45:00+10:00',
                        '2015-07-09 14:45:00+10:00', '2015-07-10 02:45:00+10:00',
                        '2015-07-10 14:45:00+10:00', '2015-07-11 02:45:00+10:00',
                        '2015-07-11 14:45:00+10:00', '2015-07-12 02:45:00+10:00'],
                       dtype='datetime64[ns, Australia/Sydney]', freq='12H')

# Display the resulting DatetimeIndex
print(rng)

DatetimeIndex(['2015-07-02 14:45:00+10:00', '2015-07-03 02:45:00+10:00',
               '2015-07-03 14:45:00+10:00', '2015-07-04 02:45:00+10:00',
               '2015-07-04 14:45:00+10:00', '2015-07-05 02:45:00+10:00',
               '2015-07-05 14:45:00+10:00', '2015-07-06 02:45:00+10:00',
               '2015-07-06 14:45:00+10:00', '2015-07-07 02:45:00+10:00',
               '2015-07-07 14:45:00+10:00', '2015-07-08 02:45:00+10:00',
               '2015-07-08 14:45:00+10:00', '2015-07-09 02:45:00+10:00',
               '2015-07-09 14:45:00+10:00', '2015-07-10 02:45:00+10:00',
               '2015-07-10 14:45:00+10:00', '2015-07-11 02:45:00+10:00',
               '2015-07-11 14:45:00+10:00', '2015-07-12 02:45:00+10:00'],
              dtype='datetime64[ns, Australia/Sydney]', freq='12H')

In [9]:
type(rng[0])

pandas._libs.tslibs.timestamps.Timestamp

**5.1.2 Convert string to **dates

Dates in string formats can be converted into time stamp using ‘to_datetime’ option as below

In [10]:
dd = ['07/07/2015', '08/12/2015', '12/04/2015']
dd

['07/07/2015', '08/12/2015', '12/04/2015']

In [11]:
type(dd[0])

str

In [12]:
# American style
list(pd.to_datetime(dd))

[Timestamp('2015-07-07 00:00:00'),
 Timestamp('2015-08-12 00:00:00'),
 Timestamp('2015-12-04 00:00:00')]

In [13]:
# European format
d = list(pd.to_datetime(dd, dayfirst=True))
d

[Timestamp('2015-07-07 00:00:00'),
 Timestamp('2015-12-08 00:00:00'),
 Timestamp('2015-04-12 00:00:00')]

In [14]:
type(d[0])

pandas._libs.tslibs.timestamps.Timestamp

5.1.3 Periods

Periods represents the time span e.g. days, years, quarter or month etc. Period class in pandas allows us to convert
the frequency easily.

5.1.3.1 Generating periods and frequency conversion

In following code, period is generated using ‘Period’ command with frequency ‘M’. Note that, when we use ‘asfreq’
operation with ‘start’ operation the date is ‘01’ where as it is ‘31’ with ‘end’ option.

In [17]:
pr = pd.Period('2012', freq='M')
print(pr.asfreq('D', 'start'))
print(pr.asfreq('D', 'end'))

2012-01-01
2012-01-31

5.1.3.2 Period arithmetic

We can perform various arithmetic operation on periods. All the operations will be performed based on ‘freq’,

In [18]:
pr = pd.Period('2012', freq='A') # Annual
pr

Period('2012', 'A-DEC')

In [19]:
pr + 1

Period('2013', 'A-DEC')

In [24]:
# Year to month conversion
prMonth = pr.asfreq('M')
prMonth

Period('2012-12', 'M')

In [25]:
prMonth - 1

Period('2012-11', 'M')

5.1.3.3 Creating period range

A range of periods can be created using ‘period_range’ command,

In [26]:
prg = pd.period_range('2010', '2015', freq='A')
prg

PeriodIndex(['2010', '2011', '2012', '2013', '2014', '2015'], dtype='period[A-DEC]')

In [30]:
# create a series with index as 'prg'
data = pd.Series(np.random.rand(len(prg)), index=prg)
data

2010    0.977158
2011    0.966218
2012    0.222953
2013    0.030846
2014    0.040044
2015    0.236358
Freq: A-DEC, dtype: float64

5.1.3.4 Converting string-dates to period

Conversion of string-dates to period is the two step process, i.e. first we need to convert the string to date format
and then convert the dates in periods as shown below,

In [31]:
# dates as string
dates = ['2013-02-02', '2012-02-02', '2013-02-02']

In [32]:
# convert string to date format
d = pd.to_datetime(dates)
d

DatetimeIndex(['2013-02-02', '2012-02-02', '2013-02-02'], dtype='datetime64[ns]', freq=None)

In [33]:
# create PeriodIndex from DatetimeIndex
prd = d.to_period(freq='M')
prd

PeriodIndex(['2013-02', '2012-02', '2013-02'], dtype='period[M]')

In [34]:
# change frequency type
prd.asfreq('D')

PeriodIndex(['2013-02-28', '2012-02-29', '2013-02-28'], dtype='period[D]')

In [35]:
prd.asfreq('D')

PeriodIndex(['2013-02-28', '2012-02-29', '2013-02-28'], dtype='period[D]')

5.1.3.5 Convert periods to timestamps

Periods can be converted back to timestamps using ‘to_timestamp’ command

In [36]:
prd

PeriodIndex(['2013-02', '2012-02', '2013-02'], dtype='period[M]')

In [37]:
prd.to_timestamp()

DatetimeIndex(['2013-02-01', '2012-02-01', '2013-02-01'], dtype='datetime64[ns]', freq=None)

In [38]:
prd.to_timestamp(how = 'end')

DatetimeIndex(['2013-02-28 23:59:59.999999999',
               '2012-02-29 23:59:59.999999999',
               '2013-02-28 23:59:59.999999999'],
              dtype='datetime64[ns]', freq=None)

5.1.4 Time offsets

Time offset can be defined as follows. Further we can perform various operations on time as as well e.g. adding
and subtracting etc

In [39]:
# generate time offset
pd.Timedelta('3 days')

Timedelta('3 days 00:00:00')

In [40]:
pd.Timedelta('3M')

<ipython-input-40-5664a13a2ec7>:1: FutureWarning: Units 'M', 'Y' and 'y' do not represent unambiguous timedelta values and will be removed in a future version.
  pd.Timedelta('3M')

Timedelta('0 days 00:03:00')

In [41]:
pd.Timedelta('4 days 3M')

<ipython-input-41-81cd71eefbbe>:1: FutureWarning: Units 'M', 'Y' and 'y' do not represent unambiguous timedelta values and will be removed in a future version.
  pd.Timedelta('4 days 3M')

Timedelta('4 days 00:03:00')

In [42]:
# adding Timedelta to time
pd.Timestamp('9 July 2016 12:00') + pd.Timedelta('1 day 3 min')

Timestamp('2016-07-10 12:03:00')

In [43]:
# add Timedelta to complete rng
rng + pd.Timedelta('1 day')

DatetimeIndex(['2015-07-03 14:45:00+10:00', '2015-07-04 02:45:00+10:00',
               '2015-07-04 14:45:00+10:00', '2015-07-05 02:45:00+10:00',
               '2015-07-05 14:45:00+10:00', '2015-07-06 02:45:00+10:00',
               '2015-07-06 14:45:00+10:00', '2015-07-07 02:45:00+10:00',
               '2015-07-07 14:45:00+10:00', '2015-07-08 02:45:00+10:00',
               '2015-07-08 14:45:00+10:00', '2015-07-09 02:45:00+10:00',
               '2015-07-09 14:45:00+10:00', '2015-07-10 02:45:00+10:00',
               '2015-07-10 14:45:00+10:00', '2015-07-11 02:45:00+10:00',
               '2015-07-11 14:45:00+10:00', '2015-07-12 02:45:00+10:00',
               '2015-07-12 14:45:00+10:00', '2015-07-13 02:45:00+10:00'],
              dtype='datetime64[ns, Australia/Sydney]', freq='12H')

5.1.5 Index data with time

In this section, time is used as index for Series and DataFrame; and then various operations are performed on
these data structures.

• First, create a time series using ‘date_range’ option as below.

In [44]:
dates = pd.date_range('2015-01-12', '2015-06-14', freq = 'M')
dates

DatetimeIndex(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30',
               '2015-05-31'],
              dtype='datetime64[ns]', freq='M')

In [45]:
len(dates)

5

• Next, create a Series of temperature of length same as dates,

In [46]:
atemp = pd.Series([100.2, 98, 93, 98, 100], index=dates)
atemp

2015-01-31    100.2
2015-02-28     98.0
2015-03-31     93.0
2015-04-30     98.0
2015-05-31    100.0
Freq: M, dtype: float64

Now, time index can be used to access the temperatures as below,

In [47]:
idx = atemp.index[3]
idx

Timestamp('2015-04-30 00:00:00', freq='M')

In [48]:
atemp[idx]

98.0

In [49]:
stemp = pd.Series([89, 98, 100, 88, 89], index=dates)
stemp

2015-01-31     89
2015-02-28     98
2015-03-31    100
2015-04-30     88
2015-05-31     89
Freq: M, dtype: int64

In [50]:
# create DataFrame
temps = pd.DataFrame({'Auckland':atemp, 'Delhi':stemp})
temps

            Auckland  Delhi
2015-01-31     100.2     89
2015-02-28      98.0     98
2015-03-31      93.0    100
2015-04-30      98.0     88
2015-05-31     100.0     89

In [51]:
# check the temperature of Auckland
temps['Auckland'] # or temps.Auckland

2015-01-31    100.2
2015-02-28     98.0
2015-03-31     93.0
2015-04-30     98.0
2015-05-31    100.0
Freq: M, Name: Auckland, dtype: float64

In [52]:
temps['Diff'] = temps['Auckland'] - temps['Delhi']
temps

            Auckland  Delhi  Diff
2015-01-31     100.2     89  11.2
2015-02-28      98.0     98   0.0
2015-03-31      93.0    100  -7.0
2015-04-30      98.0     88  10.0
2015-05-31     100.0     89  11.0

In [53]:
# delete the temp['Diff']
del temps['Diff']
temps

            Auckland  Delhi
2015-01-31     100.2     89
2015-02-28      98.0     98
2015-03-31      93.0    100
2015-04-30      98.0     88
2015-05-31     100.0     89

## **5.2. Application**

In previous section, we saw some basics of time series. In this section, we will learn some usage of time series with
an example,

5.2.1 Basics
• First, load the stocks.csv file as below

In [ ]:
import pandas as pd
df = pd.read_csv('stocks.csv')
df.head()